.index-title {
  font-size: 100px;
}
.content{
  width: calc(100% - 296px);
  margin-left: auto;
}
.nav-w{
  width:984px
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' 24
}